<%- include('../partials/head.ejs'); %>
<div class="left-container"></div>
<div class="right-container">
  <div class="authentication-container login-auth">
    <h3>Choose new password</h3>
    <form action="/auth/changepassword" method="post">
      <label forn="email">Email</label>
      <input
        type="password"
        name="password"
        placeholder="Choose a new password"
        class="input-auth"
      />
      <input type="hidden" name="token" value="<%= token %>" />
      <input type="hidden" name="email" value="<%= email %>" />
      <button class="auth-button">Change my password</button>
    </form>
  </div>
</div>
<%- include("../partials/footer.ejs"); %>
