<nav class="inote-navigation">
    <a href="/"><h1>inote</h1></a>
    <div class="right">
        <ul>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/signup">Signup</a></li>
            <li>
                <form action="/auth/logout" method="post">
                    <button type="submit">logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
