<nav class="inote-navigation">
    <a href="/"><h1>Inote</h1></a>
    <div class="right">
        <ul>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/signup">Signup</a></li>
        </ul>
    </div>
</nav>
