<%- include('partials/head.ejs'); %>
<div class="left-container">

</div>
<div class="right-container">
    <div class="authentication-container login-auth">
        <h3>Login</h3>
        <form action="/auth/login" method="post">
            <input type="text" name="email" placeholder="email@email.com" class="input-auth" />
            <input type="password" name="password" placeholder="your password" class="input-auth" />
            <button class="auth-button">Send me in</button>
        </form> 
    </div>
</div>
<%- include("partials/footer.ejs"); %>