<%- include('partials/head.ejs'); %>
<div class="left-container"></div>
<div class="right-container">
  <div class="authentication-container login-auth">
    <h3>Reset your password</h3>
    <form action="/auth/password-reset" method="post">
      <label forn="email">Email</label>
      <input
        type="text"
        name="email"
        placeholder="email@email.com"
        class="input-auth"
      />
      <button class="auth-button">Send me reset link</button>
    </form>
  </div>
</div>
<%- include("partials/footer.ejs"); %>
