@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    font-size: 16px;
    background: #efefef;
    font-family: "Montserrat", sans-serif;
    a {
        text-decoration: none;
        color: #333;
    }
}

nav.inote-navigation {
    height: 60px;
    padding: 0 1em;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

div.inote-container {
    width: 400px;
    margin: 0 auto;
    height: auto;
    padding: 1em;
    background: #fff;
    border-radius: 8px;
    position: relative;
    div.notes-list {
        color: #222;
        margin-bottom: 20px;
        div.note {
            margin-bottom: 10px;
            padding: 1em;
        }
    }

    a.new-note {
        display: inline-block;
        padding: 8px 1em;
        font-weight: bolder;
        text-decoration: none;
        color: #fff;
        background: dodgerblue;
        border-radius: 20px;
        margin-left: auto;
    }

    div.add-new-note-container {
        form {
            label {
                display: block;
                padding: 10px 0;
            }
            input,
            textarea,
            select {
                padding: 1em 8px;
                width: 100%;
                margin-bottom: 10px;
                background: transparent;
                border: 1px solid #ccc;
                border-radius: 3px;
                resize: none;
                &:hover {
                    border: 1px solid green;
                }
            }

            input,
            textarea,
            button,
            select {
                display: block;
                font-size: 1em;
            }

            button {
                padding: 8px 15px;
                background: dodgerblue;
                border: none;
                border-radius: 20px;
                display: block;
                color: #fff;
                font-weight: bolder;
                margin-left: auto;
                font-size: 0.9em;
            }
        }
        a {
            text-decoration: underline;
            display: block;
            font-size: 0.8em;
            padding: 10px 0;
            margin-left: auto;
            text-align: right;
        }
    }
}
