@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  font-size: 16px;
  background: #efefef;
  font-family: "Montserrat", sans-serif;
}

body a {
  text-decoration: none;
  color: #333;
}

nav.inote-navigation {
  height: 60px;
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav.inote-navigation div.right ul {
  list-style: none;
}

nav.inote-navigation div.right ul li {
  display: inline-block;
}

nav.inote-navigation div.right ul li a {
  padding: 0 1em;
  font-weight: bold;
  color: #222;
}

div.inote-container {
  width: 400px;
  margin: 0 auto;
  height: auto;
  padding: 1em;
  background: #fff;
  border-radius: 8px;
  position: relative;
}

div.inote-container div.flash {
  width: 400px;
  margin: 8px auto;
  padding: 10px;
}

div.inote-container div.flash.flash-success {
  background: #a5ffac;
}

div.inote-container div.notes-list {
  color: #222;
  margin-bottom: 20px;
}

div.inote-container div.notes-list div.note {
  margin-bottom: 10px;
  padding: 1em;
}

div.inote-container a.new-note {
  display: inline-block;
  padding: 8px 1em;
  font-weight: bolder;
  text-decoration: none;
  color: #fff;
  background: dodgerblue;
  border-radius: 20px;
  margin-left: auto;
}

div.inote-container div.authentication-container h3 {
  padding: 10px 0;
}

div.inote-container div.authentication-container form input {
  width: 100%;
  padding: 1em 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 1em;
}

div.inote-container div.authentication-container form input:hover {
  border: 1px solid dodgerblue;
}

div.inote-container div.authentication-container form input:focus {
  outline: 0;
  border: 1px solid dodgerblue;
}

div.inote-container div.authentication-container form button {
  padding: 8px 1em;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  background: dodgerblue;
  border: none;
  color: #fff;
  border-radius: 20px;
  font-weight: bolder;
}

div.inote-container div.add-new-note-container form label {
  display: block;
  padding: 10px 0;
}

div.inote-container div.add-new-note-container form input,
div.inote-container div.add-new-note-container form textarea,
div.inote-container div.add-new-note-container form select {
  padding: 1em 8px;
  width: 100%;
  margin-bottom: 10px;
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: none;
}

div.inote-container div.add-new-note-container form input:hover,
div.inote-container div.add-new-note-container form textarea:hover,
div.inote-container div.add-new-note-container form select:hover {
  border: 1px solid green;
}

div.inote-container div.add-new-note-container form input,
div.inote-container div.add-new-note-container form textarea,
div.inote-container div.add-new-note-container form button,
div.inote-container div.add-new-note-container form select {
  display: block;
  font-size: 1em;
}

div.inote-container div.add-new-note-container form button {
  padding: 8px 15px;
  background: dodgerblue;
  border: none;
  border-radius: 20px;
  display: block;
  color: #fff;
  font-weight: bolder;
  margin-left: auto;
  font-size: 0.9em;
}

div.inote-container div.add-new-note-container a {
  text-decoration: underline;
  display: block;
  font-size: 0.8em;
  padding: 10px 0;
  margin-left: auto;
  text-align: right;
}
/*# sourceMappingURL=index.css.map */