@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  font-size: 16px;
  background: #222121;
  font-family: "Montserrat", sans-serif;
}

body a {
  text-decoration: none;
  color: #333;
}

nav.inote-navigation {
  height: 60px;
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

nav.inote-navigation a {
  color: #fff;
}

nav.inote-navigation div.right ul {
  list-style: none;
}

nav.inote-navigation div.right ul li {
  display: inline-block;
}

nav.inote-navigation div.right ul li a {
  padding: 0 1em;
  font-weight: bold;
  color: #fff;
}

nav.inote-navigation div.right ul li button {
  background: transparent;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin: 0 1em;
}

nav.inote-navigation div.right ul li a.new-note {
  display: inline-block;
  padding: 5px 1em;
  font-weight: bolder;
  text-decoration: none;
  color: #fff;
  background: #10af4d;
  border-radius: 20px;
  margin-left: auto;
}

div.flash {
  width: 100%;
  margin: 8px auto;
  padding: 10px;
  -webkit-animation-name: scale-in;
          animation-name: scale-in;
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: scale(0);
          transform: scale(0);
}

div.flash p {
  font-size: 14px;
}

div.flash.flash-success {
  background: #a5ffac;
  border: 1px solid green;
  color: #222;
}

div.flash.flash-error {
  background: #fcb8b8;
  border: 1px solid red;
  color: #222;
}

div.inote-container {
  width: 80%;
  margin: 0 auto;
  height: auto;
  padding: 1em;
  border-radius: 8px;
  position: relative;
  min-height: calc(100vh - 60px);
  padding-top: 1em;
}

div.inote-container div.notes-list {
  color: #222;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.inote-container div.notes-list div.note {
  margin-bottom: 10px;
  padding: 1em;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.333% - 5px);
          flex: 0 0 calc(33.333% - 5px);
  background: #fff;
  margin-right: 5px;
}

div.inote-container div.authentication-container {
  width: 400px;
  margin: 0 auto;
  color: #fff;
}

div.inote-container div.authentication-container h3 {
  padding: 10px 0;
  color: #fff;
}

div.inote-container div.authentication-container form input {
  width: 100%;
  padding: 1em 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 1em;
}

div.inote-container div.authentication-container form input:hover {
  border: 1px solid dodgerblue;
}

div.inote-container div.authentication-container form input:focus {
  outline: 0;
  border: 1px solid dodgerblue;
}

div.inote-container div.authentication-container form button {
  padding: 8px 1em;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  background: #10af4d;
  border: none;
  color: #fff;
  border-radius: 20px;
  font-weight: bolder;
}

div.inote-container div.add-new-note-container form label {
  display: block;
  padding: 10px 0;
}

div.inote-container div.add-new-note-container form input,
div.inote-container div.add-new-note-container form textarea,
div.inote-container div.add-new-note-container form select {
  padding: 1em 8px;
  width: 100%;
  margin-bottom: 10px;
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: none;
}

div.inote-container div.add-new-note-container form input:hover,
div.inote-container div.add-new-note-container form textarea:hover,
div.inote-container div.add-new-note-container form select:hover {
  border: 1px solid green;
}

div.inote-container div.add-new-note-container form input,
div.inote-container div.add-new-note-container form textarea,
div.inote-container div.add-new-note-container form button,
div.inote-container div.add-new-note-container form select {
  display: block;
  font-size: 1em;
}

div.inote-container div.add-new-note-container form button {
  padding: 8px 15px;
  background: dodgerblue;
  border: none;
  border-radius: 20px;
  display: block;
  color: #fff;
  font-weight: bolder;
  margin-left: auto;
  font-size: 0.9em;
}

div.inote-container div.add-new-note-container a {
  text-decoration: underline;
  display: block;
  font-size: 0.8em;
  padding: 10px 0;
  margin-left: auto;
  text-align: right;
}

@-webkit-keyframes scale-in {
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-in {
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=index.css.map */