@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    font-size: 16px;
    background:rgb(34, 33, 33);
    font-family: "Montserrat", sans-serif;
    a {
        text-decoration: none;
        color: #333;
    }
}

nav.inote-navigation {
    height: 60px;
    padding: 0 1em;
    
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    justify-content: space-between;
    color: #fff;

    a {
        color: #fff;
    }
    
    div.right {
        ul {
            list-style: none;
            li {
                display: inline-block;
                a {
                    padding: 0 1em;
                    font-weight: bold;
                    color: #fff;
                }

                button {
                    background: transparent;
                    border: none;
                    color: #fff;
                    font-weight: bold;
                    cursor:pointer;
                    margin: 0 1em;
                }
                a.new-note {
                    display: inline-block;
                    padding: 5px 1em;
                    font-weight: bolder;
                    text-decoration: none;
                    color: #fff;
                    background: rgb(16, 175, 77);
                    border-radius: 20px;
                    margin-left: auto;
                }
            }
        }
    }
}

div.flash {
    width: 100%;
    margin: 8px auto;
    padding: 10px;
    animation-name: scale-in;
    animation-duration: .4s;
    animation-delay: .2s;
    animation-fill-mode: forwards;
    transform: scale(0);
    p {
        font-size: 14px;
    }
    &.flash-success {
        background: rgb(165, 255, 172);
        border: 1px solid green;
        color: #222;
    }

    &.flash-error {
        background: rgb(252, 184, 184);
        border: 1px solid red;
        color: #222;
    }
}

div.inote-container {
    width: 80%;
    margin: 0 auto;
    height: auto;
    padding: 1em;
    border-radius: 8px;
    position: relative;
    min-height: calc(100vh - 60px);
    padding-top: 1em;
    div.notes-list {
        color: #222;
        margin-bottom: 20px;
        display:flex;
        flex-wrap: wrap;
        div.note {
            margin-bottom: 10px;
            padding: 1em;
            flex: 0 0 calc(33.333% - 5px);
            background: #fff;
            margin-right: 5px;
        }
    }

    

    div.authentication-container {
        width: 400px;
        margin: 0 auto;
        color: #fff;
        h3 {
            padding: 10px 0;
            color: #fff;
        }
        form {

            
            input {
                width: 100%;
                padding: 1em 8px;
                border: 1px solid #ccc;
                margin-bottom: 10px;
                border-radius: 3px;
                font-size: 1em;
                &:hover {
                    border: 1px solid dodgerblue;
                }
                &:focus {
                    outline: 0;
                    border: 1px solid dodgerblue;
                }
            }

            button {
                padding: 8px 1em;
                display: block;
                margin-top: 10px;
                margin-left: auto;
                background: rgb(16, 175, 77);;
                border: none;
                color: #fff;
                border-radius: 20px;
                font-weight: bolder;
            }
        }
    }
    div.add-new-note-container {
        form {
            label {
                display: block;
                padding: 10px 0;
            }
            input,
            textarea,
            select {
                padding: 1em 8px;
                width: 100%;
                margin-bottom: 10px;
                background: transparent;
                border: 1px solid #ccc;
                border-radius: 3px;
                resize: none;
                &:hover {
                    border: 1px solid green;
                }
            }

            input,
            textarea,
            button,
            select {
                display: block;
                font-size: 1em;
            }

            button {
                padding: 8px 15px;
                background: dodgerblue;
                border: none;
                border-radius: 20px;
                display: block;
                color: #fff;
                font-weight: bolder;
                margin-left: auto;
                font-size: 0.9em;
            }
        }
        a {
            text-decoration: underline;
            display: block;
            font-size: 0.8em;
            padding: 10px 0;
            margin-left: auto;
            text-align: right;
        }
    }
}

@keyframes scale-in {
    to {
        transform: scale(1);
    }
}